.home__posts {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.home {
  background-color: #fafafa;
}

.home__postsRight {
  margin-left: 40px;
}

.home__uploadText {
  margin-bottom: 10px;
  font-size: 24px;
}

@media (max-width: 414px) {
  .home__embed {
    display: none;
  }
  .home__postsRight {
    margin: 0;
  }
  .home__posts {
    padding: 40px;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 700px) {
  .home__embed {
    display: none;
  }
  .home__postsRight {
    margin: 0;
  }
  .home__posts {
    padding: 40px;
    display: flex;
    flex-direction: column-reverse;
  }
}
