* {
	margin: 0;
}

.app__posts {
	padding: 40px;
	display: flex;
	justify-content: center;
}
.app {
	background-color: #fafafa;
}

.app__postsLeft {
}

.app__postsRight {
	margin-left: 40px;
}

.app__loadContent {
	/* padding: 40px; */
}
